<div class="container">
    <div class="row">
        <h2>Developed by:</h2>
        <h1>Dhanush.K</h1>
    </div>
    <div class="image">
        <img src="https://i.pinimg.com/564x/c0/90/ff/c090ff93ea43c335db6204db305659f2.jpg" alt="">
    </div>
    <div class="row">
        <h2>Web Developer</h2>
        <h3>Angular, TypeScript, .Net Core, C#, SQL Server, LINQ, HTML, CSS,...</h3>
    </div>
</div>


<!-- ////////////////////| EMPTY GAP |////////////////////// -->


<p style="visibility: hidden;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem aliquid ea repudiandae harum ex
    molestiae minus commodi error in repellendus quas itaque veniam totam aperiam officiis doloremque eligendi magni
    magnam illo nostrum dolores similique, vitae eaque? Cumque rem, recusandae modi iusto aliquid qui autem reiciendis
    veniam quidem adipisci! Qui, soluta quam nulla accusantium quos aut delectus ut est odio temporibus dolore
    reiciendis expedita veniam earum deserunt. Iste aperiam id delectus quis. Perspiciatis adipisci praesentium
    accusantium voluptatum repellendus ex excepturi necessitatibus nam quas maiores. Esse minima rerum exercitationem
    explicabo molestiae dolores laboriosam quasi iure labore quod alias, culpa libero ipsam vitae adipisci repellendus
    velit at eaque dicta totam id eveniet! Quasi magni sunt deleniti. Illo suscipit excepturi dignissimos corrupti cum
  amet alias et reprehenderit ex, neque ipsa corrupti? Maiores quam reprehenderit eos in, quaerat nobis amet omnis
</p>