<div class="container">
<h1>C####</h1>
<form>
  <input #input1 (input)="number1($event)" type="text">
  <br>
  <br>
  <input #input2 (input)="number2($event)" type="text">
  <br>
  <br>
  <mat-form-field appearance="fill" floatLabel="never">
    <mat-label></mat-label>
    <input matInput placeholder="Ex. 9876" [(ngModel)]="panel1" (keypress)="restrict($event)" autocomplete="off" >
  </mat-form-field>
<br>
  <button mat-raised-button>1</button>  <span>s</span>
  <button mat-raised-button>2</button>  <span>s</span>
  <button mat-raised-button>3</button>
<br>
<br>
  <button mat-raised-button>4</button>  <span>s</span>
  <button mat-raised-button>5</button>  <span>s</span>
  <button mat-raised-button>6</button>
<br>
<br>
  <button mat-raised-button>7</button>  <span>s</span>
  <button mat-raised-button>8</button>  <span>s</span>
  <button mat-raised-button>9</button>
<br>
<br>
  <button mat-raised-button (click)="add()">+</button>  <span>s</span>
  <button mat-raised-button>-</button>  <span>s</span>
  <button mat-raised-button>/</button>
<br>
<br>
  <button mat-raised-button>*</button>  <span>s</span>
  <button mat-raised-button>%</button>  <span>s</span>
  <button mat-raised-button color="accent" type="reset">AC</button>
  <br>
  <br>
    <button mat-raised-button color="warn" type="reset" (click)="reset()">DEL</button>
    <span  >space</span>
    <button mat-raised-button color="primary" (click)="total()">ENTER</button>
</form>
</div>
<br>

<mat-label [(ngModel)]="panel1">:{{panel1}}</mat-label>
<br>
<input [(ngModel)]="panel1" >
