<div class="container">
  <h1>C####</h1>
  <input class="hide" [(ngModel)]="symbol" (input)="number1($event)" >
  <input class="hide" [(ngModel)]="input2" (input)="number2($event)" >
  <form>
    <input class="main" autofocus [(ngModel)]="input1" (input)="number1($event)" >
    <br>
    <br>
  <button mat-raised-button>1</button>  <span>s</span>
  <button mat-raised-button>2</button>  <span>s</span>
  <button mat-raised-button>3</button>
<br>
<br>
  <button mat-raised-button>4</button>  <span>s</span>
  <button mat-raised-button>5</button>  <span>s</span>
  <button mat-raised-button>6</button>
<br>
<br>
  <button mat-raised-button>7</button>  <span>s</span>
  <button mat-raised-button>8</button>  <span>s</span>
  <button mat-raised-button>9</button>
<br>
<br>
  <button mat-raised-button (click)="add()">+</button>  <span>s</span>
  <button mat-raised-button>-</button>  <span>s</span>
  <button mat-raised-button>/</button>
<br>
<br>
  <button mat-raised-button>*</button>  <span>s</span>
  <button mat-raised-button>%</button>  <span>s</span>
  <button mat-raised-button color="accent" type="reset">AC</button>
  <br>
  <br>
    <button mat-raised-button color="warn" type="reset" (click)="reset()">DEL</button>
    <span  >space</span>
    <button mat-raised-button color="primary" (click)="total()">ENTER</button>
</form>
</div>
<br>

