<h1>Hello!👋</h1><br>
<h1>Welcome to <br><br> {{title}}</h1>
<br><br>    
<button mat-raised-button color="accent" [routerLink]="'/manual'">Launch</button>



<!-- ////////////////////| EMPTY GAP |////////////////////// -->


<p style="visibility: hidden;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem aliquid ea repudiandae harum ex
    molestiae minus commodi error in repellendus quas itaque veniam totam aperiam officiis doloremque eligendi magni
    magnam illo nostrum dolores similique, vitae eaque? Cumque rem, recusandae modi iusto aliquid qui autem reiciendis
    veniam quidem adipisci! Qui, soluta quam nulla accusantium quos aut delectus ut est odio temporibus dolore
    reiciendis expedita veniam earum deserunt. Iste aperiam id delectus quis. Perspiciatis adipisci praesentium
    accusantium voluptatum repellendus ex excepturi necessitatibus nam quas maiores. Esse minima rerum exercitationem
    explicabo molestiae dolores laboriosam quasi iure labore quod alias, culpa libero ipsam vitae adipisci repellendus
    velit at eaque dicta totam id eveniet! Quasi magni sunt deleniti. Illo suscipit excepturi dignissimos corrupti cum
    eius! Veniam reiciendis nostrum molestias aliquam odit adipisci dolores quisquam expedita sunt, mollitia illum
    ratione earum magni pariatur quis libero culpa nesciunt at minima iure? Tenetur sunt voluptates aut culpa eligendi
    deleniti laborum accusantium distinctio dolores dicta? Ipsa illo autem reprehenderit. Eveniet nisi iure laudantium
    consectetur maiores ea aliquid optio, facilis nihil facere recusandae, pariatur iste voluptate cumque ex quas
    architecto id quibusdam natus quis suscipit. Accusantium deserunt illum a atque libero eum ipsam doloribus, sunt
    assumenda perferendis esse, soluta quas in rerum fugiat expedita doloremque odit iste? Nostrum maxime dicta magni
    dolorum ratione unde in, incidunt recusandae fugit deserunt ullam hic ut sunt eos non quidem nesciunt, dolorem
    voluptas deleniti iste consectetur sed. Impedit nihil et natus rerum, aliquid, reiciendis omnis corrupti quae nam,
    autem dignissimos magnam. Tempora, asperiores nisi mollitia quidem est saepe nam quia quae velit accusamus
    aspernatur quas distinctio ex sapiente iure exercitationem, provident ipsum itaque eos quo? Natus quas culpa,
    explicabo ipsam iusto odio ducimus at nobis. Quo corporis itaque, ratione qui harum debitis minus molestias? Amet
    nostrum quam quia reiciendis excepturi odio aliquid officiis tempore. Deleniti pariatur, harum modi quibusdam qui
    expedita quasi! Iusto eaque nihil impedit quidem. Est, asperiores eaque sunt veniam, facilis itaque esse inventore
    amet alias et reprehenderit ex, neque ipsa corrupti? Maiores quam reprehenderit eos in, quaerat nobis amet omnis
    enim numquam harum explicabo voluptatibus magnam, a dolorem odio alias ad laborum. Provident repellendus nihil
    assumenda! Pariatur dolorem minus explicabo! Voluptates, labore fugiat. Vel dignissimos temporibus aspernatur, quos,
    ullam dolorum numquam aliquam facere quod quia enim sunt asperiores nesciunt animi. Omnis vitae illum alias
    praesentium. Voluptatibus officiis corporis nisi mollitia a pariatur reiciendis ipsum obcaecati quibusdam!
    Cupiditate dolorum aut at assumenda fugit animi magnam atque repellendus quos error aliquam eveniet iste, mollitia
    aliquid quasi quae minima iure doloribus eius ipsum blanditiis velit facere numquam. Maxime assumenda tenetur
    aspernatur velit saepe, quod eum minima rem quis tempore corrupti, dolorum incidunt obcaecati sint praesentium
</p>